.navbarSearch {
  position: relative;
}
.navbarSearchInput {
  width: 470px;
  height: 35px;
  border: none;
  outline: none;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  font-size: 16px;
  padding: 0 20px;
}

.navbarSearchIcon {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
